$font-size-base: 1rem; //16px
$font-size-sm: 0.875rem; //14px
$font-size-xs: 0.75rem; //12px
$font-size-md: 1.125rem; //18px

$screen-xs: 500px;
$screen-sm: 800px;
$sreen-md: 1100px;
$screen-lg: 1400px;

$logo-height: 3rem;

$breakpoint: 800px;

$color-menu-active: #f6f6f7;
